*~
recentf
auto-save-list/
elpa/
etc/
server/
var/
.extension/vscode/ms-vscode.node-debug2/extension/ThirdPartyNotices.txt
.extension/vscode/ms-vscode.node-debug2/extension/src/terminateProcess.sh
.extension/vscode/ms-vscode.node-debug2/extension/README.md
.extension/vscode/ms-vscode.node-debug2/extension/package.nls.json
.extension/vscode/ms-vscode.node-debug2/extension/package.json
.extension/vscode/ms-vscode.node-debug2/extension/LICENSE.txt
.extension/vscode/ms-vscode.node-debug2/extension/images/node-debug-icon.png
.extension/vscode/ms-vscode.node-debug2/extension/i18n/rus/package.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/rus/out/src/nodeDebugAdapter.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/rus/out/src/errors.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/package.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/kor/package.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/kor/out/src/nodeDebugAdapter.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/kor/out/src/errors.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/jpn/package.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/jpn/out/src/nodeDebugAdapter.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/jpn/out/src/errors.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/ita/package.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/ita/out/src/nodeDebugAdapter.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/ita/out/src/errors.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/hun/package.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/hun/out/src/nodeDebugAdapter.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/hun/out/src/errors.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/fra/package.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/fra/out/src/nodeDebugAdapter.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/fra/out/src/errors.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/esn/package.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/esn/out/src/nodeDebugAdapter.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/esn/out/src/errors.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/deu/package.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/deu/out/src/nodeDebugAdapter.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/deu/out/src/errors.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/cht/package.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/cht/out/src/nodeDebugAdapter.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/cht/out/src/errors.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/chs/package.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/chs/out/src/nodeDebugAdapter.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/i18n/chs/out/src/errors.i18n.json
.extension/vscode/ms-vscode.node-debug2/extension/.vsts/job.yml
.extension/vscode/ms-vscode.node-debug2/extension/.vsts/.vsts-ci.yml
.extension/vscode/ms-vscode.node-debug2/extension.vsixmanifest
.extension/vscode/ms-vscode.node-debug2/\[Content_Types\].xml
.extension/vscode/ms-vscode.node-debug2-1.43.0.vsix
.extension/vscode/extension/ThirdPartyNotices.txt
.extension/vscode/extension/src/terminateProcess.sh
.extension/vscode/extension/README.md
.extension/vscode/extension/package.nls.json
.extension/vscode/extension/package.json
.extension/vscode/extension/LICENSE.txt
.extension/vscode/extension/images/node-debug-icon.png
.extension/vscode/extension/i18n/rus/package.i18n.json
.extension/vscode/extension/i18n/rus/out/src/nodeDebugAdapter.i18n.json
.extension/vscode/extension/i18n/rus/out/src/errors.i18n.json
.extension/vscode/extension/i18n/package.i18n.json
.extension/vscode/extension/i18n/kor/package.i18n.json
.extension/vscode/extension/i18n/kor/out/src/nodeDebugAdapter.i18n.json
.extension/vscode/extension/i18n/kor/out/src/errors.i18n.json
.extension/vscode/extension/i18n/jpn/package.i18n.json
.extension/vscode/extension/i18n/jpn/out/src/nodeDebugAdapter.i18n.json
.extension/vscode/extension/i18n/jpn/out/src/errors.i18n.json
.extension/vscode/extension/i18n/ita/package.i18n.json
.extension/vscode/extension/i18n/ita/out/src/nodeDebugAdapter.i18n.json
.extension/vscode/extension/i18n/ita/out/src/errors.i18n.json
.extension/vscode/extension/i18n/hun/package.i18n.json
.extension/vscode/extension/i18n/hun/out/src/nodeDebugAdapter.i18n.json
.extension/vscode/extension/i18n/hun/out/src/errors.i18n.json
.extension/vscode/extension/i18n/fra/package.i18n.json
.extension/vscode/extension/i18n/fra/out/src/nodeDebugAdapter.i18n.json
.extension/vscode/extension/i18n/fra/out/src/errors.i18n.json
.extension/vscode/extension/i18n/esn/package.i18n.json
.extension/vscode/extension/i18n/esn/out/src/nodeDebugAdapter.i18n.json
.extension/vscode/extension/i18n/esn/out/src/errors.i18n.json
.extension/vscode/extension/i18n/deu/package.i18n.json
.extension/vscode/extension/i18n/deu/out/src/nodeDebugAdapter.i18n.json
.extension/vscode/extension/i18n/deu/out/src/errors.i18n.json
.extension/vscode/extension/i18n/cht/package.i18n.json
.extension/vscode/extension/i18n/cht/out/src/nodeDebugAdapter.i18n.json
.extension/vscode/extension/i18n/cht/out/src/errors.i18n.json
.extension/vscode/extension/i18n/chs/package.i18n.json
.extension/vscode/extension/i18n/chs/out/src/nodeDebugAdapter.i18n.json
.extension/vscode/extension/i18n/chs/out/src/errors.i18n.json
.extension/vscode/extension/.vsts/job.yml
.extension/vscode/extension/.vsts/.vsts-ci.yml
.extension/vscode/extension/.github/needs_more_info.yml
.extension/vscode/extension/.github/locker.yml
.extension/vscode/extension/.github/ISSUE_TEMPLATE/do-not-file-issues-here-.md
.extension/vscode/extension/.github/assignment.yml
.extension/vscode/extension.vsixmanifest
.extension/vscode/\[Content_Types\].xml
